.antwort{
    display:none
}

#cardfertig{
    display:none
}
#benutzernameSchonVergeben, #error{
    color:red
}
#registrierungAbschließen{
    display:none
}

.einstellungen .card {
    display: none;
}
.einstellungen .server {
    display: block;
}
.karte{
    min-width: 7cm;
}