.antworten{
    position:fixed;
    bottom:0;
  margin:auto;
  width: 100%; 
    text-align: center;
    *{
        margin:0.5cm;
    }
}
.wrapper{
    margin:1cm;
    *{
        margin:0.5cm;
    }
}
.fertig{
    margin:1cm;
    mat-icon{
      margin-left:0.3cm;
      top:12px;
      position: absolute;
    }
}