<!-- wird später bestimmt app-card-module verwenden -->
<div class="wrapper" *ngIf="!fertig">
    <div class="wrapper" *ngIf="user.name=='public'">
        <p>Sie befinden sich im Demo-Modus. Angezeigte Karten sind zufällig. Melden Sie sich an, um den Algorithmus zu
            verwenden</p>
    </div>

    <mat-card>{{frage}}</mat-card>
    <mat-card *ngIf="antwortSichtbar">{{antwort}}</mat-card>
</div>

<div class="antworten" *ngIf="antwortSichtbar">

    <button (click)="lernen(0)" mat-button>Nochmal</button>
    <button (click)="lernen(1)" mat-button>Schwer</button>
    <button (click)="lernen(2)" mat-button>Gut</button>
    <button (click)="lernen(3)" mat-button>Einfach</button>
</div>
<div class="antworten" *ngIf="(!antwortSichtbar && !fertig) ">
    <button mat-button (click)="zeigeAntwort()">Antwort zeigen</button>

</div>
<div class="fertig" *ngIf="fertig">
    <mat-card>
        Sie sind für Heute fertig.
        <mat-icon>thumb_up</mat-icon>
    </mat-card>
</div>