<div class="wrapper">

    <mat-card>
        <mat-card-title>
            Kontakt
        </mat-card-title>
        <mat-card-subtitle>
            Leonard-Orlando Menzel
        </mat-card-subtitle>
        <mat-card-content>
            <p><a href="https://github.com/leonderdunna/leonderdunna" target="_blank">Github</a></p>
            <p>Element: @lomenzel:matrix.org</p>
        </mat-card-content>
        <mat-card-actions>
            <a href="mailto:leonderdunna@gmail.com" target="_blank"> <button mat-button>
                    <mat-icon>mail</mat-icon>E-Mail
                </button></a>
            <a href="tel:017641945741"> <button mat-button>
                    <mat-icon>phone</mat-icon>Telefon
                </button></a>

        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Infos</mat-card-title>
        <mat-card-actions>
            <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank"> <button mat-button>
                    <mat-icon>play_circle_filled</mat-icon>Youtube
                </button></a>
            <a href="https://docs.google.com/document/d/e/2PACX-1vSrSTitpbYqdZIzBwv-VeiZe2vR7PAyebC8TtNqfj6zI4yPEkOup5o95TL5GpYgVv-dSX9iz3pmApi3/pub"
                target="_blank"> <button mat-button>
                    <mat-icon>book</mat-icon>Pflichtenheft
                </button></a>

        </mat-card-actions>
    </mat-card>
</div>
