<div class="wrapper">
  <mat-card *ngIf="karten.length==0 ">
    <mat-card-subtitle>Keine Karten sind Aktiv. Bitte Aktivieren Sie ein Paket oder erstellen sie eine Karte
    </mat-card-subtitle>

    <button class="add" mat-button (click)="routeNeueKarte()">
      <mat-icon>add_circle</mat-icon>
      <span class="menu-text">Neue Karte</span>
    </button>
    <button class="add" mat-button (click)="routePakete()">
      <mat-icon>book</mat-icon>
      <span class="menu-text">Pakete Öffnen</span>
    </button>
  </mat-card>
  <mat-card *ngIf="activeCard != '' && !fortschritt.fertig">
    <mat-card-content [mathjax]="karte.content[karte.content.length-1].felder.frage">Frage</mat-card-content>

  </mat-card>
  <mat-card *ngIf="(!fortschritt.fertig && karte.content[karte.content.length-1].felder.eingeben)"
            class="antwortSchreiben">
    <mat-card-content>

      <mat-form-field appearance="standard">
        <mat-label>Antwort</mat-label>
        <input autocomplete="off" type="text" [(ngModel)]="userantwort" matInput
               placeholder="Beispiel: ca. 300m">
      </mat-form-field>
      <mat-error *ngIf="(hinweis!='' )&&!fortschritt.richtig" [innerHTML]="hinweis"></mat-error>
      <mat-error style="color: green;" *ngIf="(hinweis!='' )&& fortschritt.richtig" [innerHTML]="hinweis"></mat-error>


      <p *ngIf="fortschritt.antwortSichtbar" [innerHTML]="karte.content[karte.content.length-1].felder.antwort">
        Antwort</p>
      <mat-icon *ngIf="fortschritt.richtig">thumb_up</mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card
    *ngIf="activeCard != '' && !fortschritt.fertig && fortschritt.richtig && !karte.content[karte.content.length-1].felder.eingeben">
    <mat-card-content [mathjax]="karte.content[karte.content.length-1].felder.antwort">Antwort</mat-card-content>

  </mat-card>
</div>


<div class="antworten" *ngIf="(fortschritt.falsch || fortschritt.richtig || fortschritt.skip)">

  <button (click)="lernen(0)" mat-button>Nochmal</button>
  <button *ngIf="!fortschritt.falsch&&!fortschritt.skip" (click)="lernen(1)" mat-button>Schwer</button>
  <button *ngIf=" !fortschritt.falsch&& !fortschritt.hinweisBenoetigt &&!fortschritt.skip" (click)="lernen(2)"
          mat-button>Gut
  </button>
  <button *ngIf="!fortschritt.falsch&&!fortschritt.hinweisBenoetigt &&!fortschritt.skip" (click)="lernen(3)" mat-button>
    Einfach
  </button>
  <button *ngIf="fortschritt.falsch" (click)="openDialog()" mat-button>Antwort war richtig!</button>
</div>


<div class="antworten"
     *ngIf="(!fortschritt.falsch&&userantwort != ''&&!fortschritt.richtig && !fortschritt.skip && !fortschritt.fertig && (karten.length != 0)) ">
  <button mat-button (click)="pruefen()">Überprüfen</button>
</div>


<div class="antworten"
     *ngIf="(!fortschritt.falsch&&(userantwort =='')&&(!fortschritt.richtig && !fortschritt.skip) && !fortschritt.fertig && (karten.length != 0) ) ">
  <button *ngIf="karte.content[karte.content.length-1].felder.eingeben" mat-button (click)="ueberspringen()">
    Überspringen
  </button>
  <button *ngIf="!karte.content[karte.content.length-1].felder.eingeben" (click)="antwortZeigen()" mat-button>Antowrt
    anzeigen
  </button>
</div>

<div class="material">
  <a *ngIf="karte.content[karte.content.length-1].material" [href]="karte.content[karte.content.length  -1].material"
     target="infos">
    <mat-icon>book</mat-icon>
  </a>
  <mat-icon *ngIf="!(karten.length==0 || fortschritt.fertig)" (click)="edit(activeCard)">edit</mat-icon>
</div>

<div class="fertig" *ngIf="(fortschritt.fertig && karten.length >0)">
  <mat-card>
    Sie sind für Heute fertig.
    <mat-icon>thumb_up</mat-icon>
  </mat-card>
</div>
