<mat-card>
    <mat-card-title>{{user?.name}}</mat-card-title> 
    <mat-card-actions>
        <button mat-raised-button color="primary">Abmelden</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>Passwort ändern</mat-card-title>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Passwort</mat-label>
            <input matInput type="password" placeholder="Passwort">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput type="password" placeholder="Passwort">
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </p>
    <mat-card-actions>
        <button mat-raised-button color="primary">Passwort ändern</button>
    </mat-card-actions>
</mat-card>