<div class="wrapper">


  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">star</mat-icon>
        Anki
      </ng-template>
      <h1>Mit Anki synchronisieren</h1>
      <p class="warnung">
        Diese Funktion ist noch experimentell.
      </p>
      <p>
        Die Synchronisation funktioniert nur in eine Richtung: Kappi → Anki.
        <span class="warnung">(manuelle Änderungen in Anki werden gelöscht.)</span>
        Damit alles funktioniert, muss das Anki-Addon AnkiConnect installiert sein und anki geöffnet sein.
      </p>
      <button mat-raised-button color="primary" (click)="scan()">Scannen</button>
      <button mat-raised-button color="primary" [disabled]="laedt || connectionError" (click)="fullSync()">Alles synchronisieren</button>

      <mat-card>
        <div *ngIf="!laedt">
          <h2>Ausstehende Aktionen:</h2>

          <p *ngIf="toSync.length >=1"><span>{{toSync.length}}</span>
            Karten zu Anki Importieren
          </p>
          <p *ngIf="geloescht.length >=1"><span>{{geloescht.length}}</span>
            Karten aus Anki Löschen
          </p>
          <p *ngIf="geaendert.length >=1"><span>{{geaendert.length}}</span>
            Karten Aktualisieren
          </p>
          <p *ngIf="connectionError">Ein Fehler ist aufgetreten.
            <br> Häufige Fehler:
            <br> - AnkiConnect ist nicht installiert <br>
            - Anki ist nicht geöffnet<br>
            - localhost:4200 ist nicht in den AnkiConnect-Einstellungen eingetragen:<br>
            <span class="space-left">"webCorsOriginList": [
            "http://localhost:4200"
           ]</span>
          </p>

          <p *ngIf="(toSync.length <1 && geaendert.length<1 && geloescht.length<1&&!connectionError)">
            <mat-icon>check</mat-icon>
            Alles erledigt
          </p>
        </div>
        <mat-spinner *ngIf="laedt"></mat-spinner>

      </mat-card>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">book</mat-icon>
        Kappi-Server
      </ng-template>

      <h1>Mit Kappi-Server Synchronisieren</h1>
      <p>Diese Funktion wurde noch nicht implementiert.</p>
    </mat-tab>


  </mat-tab-group>


</div>
