<form >

    <mat-form-field appearance="standard">
        <mat-label>Frage</mat-label>
        <textarea matInput placeholder="Beispiel: Wie hoch ist der Eifelturm?"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Antwort</mat-label>
        <textarea matInput placeholder="Beispiel: ca. 300m"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" >Verwerfen</button>
    <button mat-raised-button color="accent" >Hinzufügen</button>

</form>