.antworten {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: calc(100% - 1.5cm);
    left: 0.75cm;
    text-align: center;

    * {
        margin: 0.5cm;
    }
}

@media only screen and (min-width:500px) {
    .wrapper {
        margin: auto;
        width:80%;
        max-width: 40cm;
        mat-card {
            margin: 0.5cm;
        }

    }
}
.fertig {
    margin: 1cm;

    mat-icon {
        margin-left: 0.3cm;
        top: 12px;
        position: absolute;
    }
}
@media only screen and (max-width:500px) {
    .wrapper {
        margin: 0.2cm;
        
        mat-card {
            margin: 0.2cm;margin-top:0.5cm;
        }

    }
    .fertig{
        margin:0.2cm;
    }
}



mat-form-field {
    width: 100%;
}