 <table mat-table [dataSource]="karten" class="mat-elevation-z8">



    <ng-container matColumnDef="frage">
        <th mat-header-cell *matHeaderCellDef> Frage </th>
        <td mat-cell *matCellDef="let karte"> {{karte.frage}} </td>
    </ng-container>

    
    <ng-container matColumnDef="antwort">
        <th mat-header-cell *matHeaderCellDef> Antwort </th>
        <td mat-cell *matCellDef="let karte"> {{karte.antwort}} </td>
    </ng-container>

    <ng-container matColumnDef="Bearbeiten">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let karte"><button mat-icon-button> <mat-icon>edit</mat-icon></button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>